@charset "utf-8";
/* CSS Document */

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body{
	background: black url("bethEscpacial.jpg") no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	
}

.from-regiter {
	width: 1000px;
	background:rgb(173, 54, 126);
	padding: 100px;
	margin: auto;
	margin-top: 30px;
	border-radius: 40px;
	font-family: Calibri;
	color: rgb(255, 255, 255);
	box-shadow: 7px 13px 37px #000000;
}
.from-regiter h2 {
	font-size: 80px;
	margin-bottom: 70px;
	font-family: Impact;
	text-align: center;
	
}

.from-regiter p{
	height: 40px;
	text-align: center;
	font-size: 16px;
	line-height: 40px;
	
}
.from-regiter a:hover {
	
	color: rgb(255, 238, 0);
	text-decoration: none;
}
#Texto{
	width: 10%;
	border: none;

}
img{
	float: left;

}
style{
	float: right;
}